#!/usr/bin/env perl
{
    database => {
        dsn  => $ENV{SEARCHAD_DATABASE_DSN}  || "dbi:mysql:searchad:127.0.0.1",
        name => $ENV{SEARCHAD_DATABASE_NAME} || 'searchad',
        user => $ENV{SEARCHAD_DATABASE_USER} || 'searchad',
        pass => $ENV{SEARCHAD_DATABASE_PASS} // 'searchad',
        opts => {
            quote_char        => q{`},
            mysql_enable_utf8 => 1,
            on_connect_do     => 'SET NAMES utf8',
            RaiseError        => 1,
            AutoCommit        => 1,
        },
    },
    hypnotoad => {
        listen  => ['http://*:7623'],
        workers => 3,
    },
    secrets => ['c22b5f9178342609428d6f51b2c5af4c0bde6a42']
};
